<pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="taillePage" [ngModel]="noPage"
    (pageChanged)="onPageChanged($event)" class="mt-10"></pagination>

<div class="container">
    <div class="row">
        <div class="col-sm-3" *ngFor="let trek of treks.content">
            <div class="card mb-3"  style="width: 200px; height: 300px;" >

                <img class="card-img-top" [src]="getImageUrl(trek.image.id)"   style="width: 220px; height: 320px;" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{trek.nom}}</h5>
                  <p class="card-text">{{trek.description}}</p>
                  <a routerLink="/trek/{{trek.id}}" class="btn btn-primary">Consulter</a>
                  <p class="card-text">{{trek.dateDeCreation | date: 'dd-MM-yyyy'}}</p>
                </div>

                <!-- <a routerLink="/route/{{trek.id}}" class="row no-gutters">
                    <div class="col-md-4">
                        <img [src]="getImageUrl(trek.image.id)" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{trek.nom}}</h5>
                            <p class="card-text">{{trek.description}}</p>
                            <p class="card-text">{{trek.dateDeCreation | date: 'dd-MM-yyyy'}}</p>
                            <p class="card-text"><small class="text-muted">date creation:
                                    {{trek.dateDeCreation}}</small></p>
                        </div>
                    </div>
                </a> -->
            </div>
        </div>
    </div>
</div>